apiVersion: v1
kind: Deployment
metadata:
  name: nginx
  namespace: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: nginx
        images: nginx:latest
        ports:
        - containerPort: 80
        